{% extends  "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static%}

{% block content %}
<!-- Wrapper -->
<div id="wrapper">

    <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                    <header id="home">
                        <a href="/" class="logo">Hi, I’m Sagar Rathi</a>
                            <a href="#" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a>
                            <a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a>
                    </header>

                <!-- Banner -->
                    <section id="banner">
                        <div class="content">
                            <header>
                                <!-- <h1 id="home">Hi, I’m Sagar Rathi </h1><br /> -->
                                <p id="home">This is an interactive blog of data science apps.</p>
                            </header>
                            <p>If you ever wondered what can be achieved via data-science, deep-learning or even statics, then you have arrived at the right place. 
                            This blog is a collection of apps rather than a boring post of code.
                            <br>I am always available at Linkedin.  </p>
                            <a href="/blog/" class="button big">Try Some Apps</a>
                        </div>
                        <span class="image object">
                            <img src="images/pic10.jpg" alt="" />
                        </span>
                    </section>

            </div>
        </div>

    
</div>


{% endblock %}