{% extends  "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% load el_pagination_tags %}


{% block content %}
<article class="box post post-excerpt">
    <header>
    <!--
        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
        if they get too long. You can also remove the <p> entirely if you don't
        need a subtitle.
    -->
    <h2><a href="{{page.url}}">{{page.title}}</a></h2>
    <p>{{page.intro}}</p>
    </header>
    
    <div class="info">
       
        
        <!--
            Note: The date should be formatted exactly as it's shown below. In particular, the
            "least significant" characters of the month should be encapsulated in a <span>
            element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
            Oh, and if you don't need a date for a particular page or post you can simply delete
            the entire "date" element.

        -->
        <!-- {{post.date|date:"d"}} -->
        <span class="date">
            <span class="month">{{page.date|date:"M"}}</span> 
            <span class="day">{{page.date|date:"d"}}</span>
            <span class="year">, {{page.date|date:"Y"}}</span>
        </span>
        <!--
            Note: You can change the number of list items in "stats" to whatever you want.
        -->
        <ul class="stats">
            <li><a href="#" class="icon fa-comment">16</a></li>
            <li><a href="#" class="icon fa-heart">32</a></li>
            <!-- <li><a href="#" class="icon brands fa-twitter">64</a></li> -->
            <!-- <li><a href="#" class="icon brands fa-facebook-f">128</a></li> -->
        </ul>
    </div>
    
    
    <p>
    {% if page.categories.all|length %}
        Posted In:
        {% for cat in page.categories.all%}
            <a href="{{ page.get_parent.url }}category/{{ cat }}/">{{cat}}</a>
        {% endfor%}
    {% endif %}

    {% if page.tags.all|length %}
            Tags:
            {% for tag in page.tags.all %}
                <a href="{{ page.get_parent.url }}tag/{{ tag }}/">{{tag}}</a>
            {% endfor%}
        {% endif %}
    </p>
    
    <a href="#"  class="image featured">{% image page.main_image width-1000 %}</a>
    
    <p>{% include_block page.body %}</p>

    
    <h3>Try This App:</h3>

<form action="?" method="get" id={{page.app_name}}>
{% csrf_token %}

{% for item in page.app_form %}
    {% if item.block_type == 'input' %}
        {% if item.value.file_type == 'Image' %}
            <label for={{item.value.file_type}}{{item.value.file_id}}>{{item.value.file_type}}</label>: 
            <input type="file" id="image" name="img" accept="image/*">
        {% endif %}    
        
        {% if item.value.file_type == 'Video' %}
            {{item.value.file_type}}: 
            <input type="file" id="image" name="img" accept="video/*">
        {% endif %}    
        
        {% if item.value.file_type == 'Text' %}
        <p class="formfield">
            {{item.value.file_type}}: 
            <textarea id="text" name="text" rows="1" cols="30"></textarea>
        </p>
        {% endif %}    

        {% if item.value.file_type == 'Excel' %}
            {{item.value.file_type}}: 
            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        {% endif %}    
        
        {% if item.value.file_type == 'CSV' %}
            {{item.value.file_type}}: 
            <input type="file" accept=".csv" />
        {% endif %}    

        {% if item.value.file_type == 'PDF' %}
            {{item.value.file_type}}: 
            <input type="file" accept=".pdf" /> 
        {% endif %}  

    {% endif %}
<br/>    
{% endfor%}
<button type="submit" form={{app_name}} value="Submit">Submit</button>
</form>

<hr>
    {% include "blog/blocks/disqus.html" %}

    <a href="{{ page.get_parent.url }}" class="button next">Return To Blog</a>


</article>


{% endblock content %}

